<h1>Angular Interview Preparation :</h1>
<hr>
<li>What is TypeScript?</li>
<li>Differences between TypeScript vs JavaScript</li>
<li>Datatypes in TypeScript</li>
<li>Type Inference</li>
<li>Type Assertion</li>
<li>Var vs let vs const</li>
<li>Functions</li>
<li>Interfaces</li>
<li>Classes</li>
<li>Generics</li>
<li>Modules</li>

<hr>
<li>Angular Fundamentals Overview</li>
<ul>
  <li>Architecture</li>
  <li>CLI</li>
  <li>Modules</li>
  <li>Components</li>
  <li>Directives</li>
  <li>Services</li>
  <li>Pipes</li>
  <li>Dependency Injection</li>
</ul>
<li>Components, Data Handling and, Events Handling</li>
<ul>
  <li>Data binding in components</li>
  <li>Template Variables</li>
  <li>Communication between components</li>
  <li>Parent and Child</li>
  <li>Independent components</li>
  <li>View Encapsulation</li>
  <li>Content Projection</li>
  <li>View Child and View Children</li>
  <li>Content Child and Content Children</li>
  <li>Life cycle of a component</li>
</ul>
<li>Directives and Pipes</li>
<ul>
  <li>Directives Overview</li>
  <li>Structural Directives</li>
  <li>Attribute Directives</li>
  <li>Built-in Directives</li>
  <li>Custom Directives</li>
  <li>Pipes</li>
  <li>Custom Pipes</li>
</ul>
<li>Angular Forms Module</li>
<ul>
  <li>Angular Forms</li>
  <li>Reactive Forms</li>
  <li>Form Validations</li>
  <li>Custom Validators</li>
</ul>
<li>Angular Routing and Services</li>
<ul>
  <li>Routing</li>
  <li>Router outlet</li>
  <li>Configuring Routes</li>
  <li>Activated Route</li>
  <li>Router parameters</li>
  <li>Optional and Query string Parameters</li>
  <li>Routing Guards</li>
  <li>Service</li>
</ul>
